        * {
            padding: 0;
            margin: 0;
            font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
        }
        
        .container {
            width: 1140px;
            padding: 0 15px;
            margin: 0 auto;
            overflow: hidden;
        }
        
        .topbox {
            background-color: #1f4e69;
            background-image: url(https://weatherstack.com/site_images/mountains.svg);
            background-position: center;
            background-size: cover;
        }
        
        .mainlogo {
            float: left;
        }
        
        .mainlogo img {
            margin-top: 14px;
        }
        
        nav {
            height: 70px;
        }
        
        .nav {
            float: right;
            font-size: 13px;
            font-family: Promo, Helvetica, Arial, sans-serif;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        
        ul {
            list-style: none;
        }
        
        .nav {
            overflow: hidden;
        }
        
        .nav li {
            float: left;
        }
        
        .section1 .container {
            width: 1140px;
            height: 314px;
            padding-top: 87px;
            padding-bottom: 160px;
        }
        
        .section2 h4,
        .section4 * {
            color: black;
        }
        
        .status::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgb(71, 198, 82);
            position: relative;
            left: 15px;
        }
        
        .container>div {
            display: inline-block;
            color: white;
        }
        
        .real-time {
            float: left;
        }
        
        .lefttop,
        .midtop,
        .righttop,
        .weather {
            display: inline-block;
        }
        
        .real-time span {
            font-family: FriendlyFont, sans-serif;
        }
        
        .newarkcontainer {
            float: right;
            border: 4px solid #608094;
            background-color: rgb(22, 57, 76);
            position: relative;
            border-radius: 10px;
        }
        
        .newark h4 {
            text-align: center;
            padding-top: 15px;
            font-weight: 500;
        }
        /* .newark h4 {
        float: right;
        font-weight: 700;
        font-size: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
        position: absolute;
        left: 50%;
    } */
        
        .lefttop {
            text-align: center;
            position: relative;
        }
        
        .lefttop p {
            position: absolute;
            left: 60px;
            top: 104px;
        }
        
        .lefttop img {
            width: 140px;
            height: 137px;
            float: left;
            position: relative;
            left: 20px;
        }
        
        .righttop p:last-child {
            position: absolute;
            right: 200px;
            margin-right: -20px;
            top: 15px;
            font-size: 36px;
            font-weight: 300;
        }
        
        .newark div {
            font-size: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
        }
        
        .righttop {
            position: absolute;
            right: 40px;
            top: 70px;
            font-size: 13px;
        }
        
        .righttop p {
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 300;
        }
        
        .weatherbox {
            margin-bottom: 20px;
        }
        
        .weather {
            width: 95px;
            text-align: center;
        }
        
        .weather p {
            font-size: 14px;
        }
        
        .real-time h2 {
            margin-bottom: 20px;
            font-size: 32px;
            font-family: Promo, Helvetica, Arial, sans-serif;
            font-weight: 700;
            line-height: 40px;
        }
        
        .real-time h4 {
            margin-top: 10px;
            margin-bottom: 17px;
            font-weight: 400;
            font-size: 20px;
        }
        
        .real-time p {
            margin-top: 25px;
            margin-bottom: 15px;
            padding: 8px 10px 13px 16px;
            background-color: rgba(255, 255, 255, .1);
            font-size: 19px;
            border-radius: 17px 17px/ 17px 17px;
            width: 362px;
        }
        
        .real-time p::before {
            content: "\e6e2";
            font-family: Linearicons;
            font-size: 24px;
            margin-right: 13px;
            vertical-align: text-bottom;
        }
        
        .real-time a {
            display: inline-block;
            margin-top: 20px;
            border: 1px 1px 1px 1px;
            padding: 22px 41px 22px 41px;
            background-color: rgb(244, 123, 33);
            border-radius: 3px 3px/ 3px 3px;
            font-size: 14px;
            font-weight: 600;
        }
        
        .real-time a:hover {
            text-decoration: underline;
        }
        
        .nav a {
            display: inline-block;
            margin: 16px 15px 19px 15px;
            line-height: 35px;
            font-size: 13px;
        }
        
        .nav .status a {
            padding: 0 10px 1px;
            margin-left: 6px;
            margin-right: 0;
        }
        
        .nav .login a {
            border-radius: 3px 3px/ 3px 3px;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.15);
            margin-right: 0;
            margin-top: 16px;
            margin-bottom: 19px;
            margin-left: 15px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 1px;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        .nav .signup a {
            border-radius: 3px 3px/ 3px 3px;
            background-color: rgb(244, 123, 33);
            font-family: Promo, Helvetica, Arial, sans-serif;
            margin-right: 0;
            margin-top: 16px;
            margin-bottom: 19px;
            margin-left: 15px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 1px;
        }
        
        .section2 {
            overflow: hidden;
            background-color: #eff2f5;
            padding: 40px 0 12px;
        }
        
        .customers h4 {
            float: left;
            vertical-align: middle;
            font-size: 15px;
            font-family: Helvetica, Arial, sans-serif;
        }
        
        .customers ul {
            overflow: hidden;
            height: 84px;
            line-height: 84px;
        }
        
        .customers li {
            width: 187px;
            height: 50px;
            line-height: 70px;
            float: left;
            color: black;
            background-repeat: no-repeat;
            background-position: center top;
            position: relative;
        }
        
        .customers .deloitte {
            background-image: url("https://weatherstack.com/site_images/client_deloitte.svg");
            background-size: 120px;
            top: 25px;
        }
        
        .customers .microsoft {
            background-image: url("https://weatherstack.com/site_images/client_microsoft.svg");
            background-size: 135px;
            top: 23px;
        }
        
        .customers .warnernros {
            width: 110px;
            background-image: url("https://weatherstack.com/site_images/client_warnerbros.svg");
            background-size: 48px;
            top: 15px;
        }
        
        .customers .wawa {
            width: 132px;
            background-image: url("https://weatherstack.com/site_images/client_wawa.svg");
            background-size: 85px;
            top: 10px;
        }
        
        .customers .schnider {
            background-image: url(https://weatherstack.com/site_images/client_schneider.svg);
            background-size: 125px;
            top: 20px;
        }
        
        .customers .ericsson {
            width: 112px;
            background-image: url(https://weatherstack.com/site_images/client_ericsson_2.svg);
            top: 10px;
        }
        
        .section3 {
            padding-top: 40px;
            padding-bottom: 40px;
            height: 247px;
        }
        
        .underlogo {
            padding-top: 19px;
            padding-bottom: 19px;
            padding-left: 17px;
            background-color: rgb(239, 242, 245);
            width: 1140px;
            height: 200;
        }
        
        .underlogo>div {
            margin-right: 12px;
            margin-left: 12px;
            padding: 10px 10px;
            display: inline-block;
            color: black;
            width: 230;
            padding: 10px 10px 10px 10px;
            font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
            background-color: rgb(235, 239, 244);
        }
        
        .underlogo p {
            width: 230px;
            height: 100px;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }
        
        .underlogo .real::before {
            font-family: Linearicons;
            content: "\e655";
            font-size: 30px;
            font-weight: 400;
            display: block;
            margin-bottom: 20px;
        }
        
        .underlogo .millions::before {
            font-family: Linearicons;
            content: "\e778";
            font-size: 28px;
            font-weight: 400;
            display: block;
            margin-bottom: 20px;
        }
        
        .underlogo .rock::before {
            font-family: Linearicons;
            content: "\e836";
            font-size: 30px;
            font-weight: 400;
            display: block;
            margin-bottom: 20px;
        }
        
        .underlogo .start::before {
            font-family: Linearicons;
            content: "\e756";
            font-size: 30px;
            font-weight: 400;
            display: block;
            margin-bottom: 20px;
        }
        
        .underlogo h5 {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 230px;
            height: 60px;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }
        
        .section {
            padding-top: 25px;
            padding-bottom: 65px;
        }
        
        .access {
            margin-bottom: 70px;
        }
        
        .access h4 {
            margin-bottom: 15px;
            font-size: 24px;
            font-family: Promo, Helvetica, Arial, sans-serif;
            font-weight: 500;
        }
        
        .access p {
            margin-bottom: 30px;
            font-size: 17px;
            line-height: 20px;
            font-weight: 300;
        }
        
        .access ul {
            line-height: 21px;
            font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
        }
        
        .access li {
            font-size: 16px;
            /* margin-bottom: 5px; */
            font-weight: 300;
            margin-bottom: 18px;
        }
        
        .access li:first-child::before {
            font-family: Linearicons;
            content: "\e8da";
            font-size: 25px;
            margin-right: 12px;
            vertical-align: text-bottom;
        }
        
        .access li:nth-child(2)::before {
            font-family: Linearicons;
            content: "\e8e3";
            font-size: 25px;
            margin-right: 12px;
            vertical-align: text-bottom;
        }
        
        .access li:nth-child(3)::before {
            font-family: Linearicons;
            content: "\e786";
            font-size: 25px;
            margin-right: 12px;
            vertical-align: text-bottom;
        }
        
        .access li:nth-child(4)::before {
            font-family: Linearicons;
            content: "\e784";
            font-size: 25px;
            margin-right: 12px;
            vertical-align: text-bottom;
        }
        
        .access li:last-child::before {
            font-family: Linearicons;
            content: "\e977";
            font-size: 25px;
            margin-right: 12px;
            vertical-align: text-bottom;
        }
        
        .access {
            display: inline-block;
            width: 440px;
            font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
        }
        
        .map {
            display: inline-block;
        }
        
        .section5 {
            background-color: rgb(24, 65, 87);
            background-image: url(https://weatherstack.com/site_images/bg_waves_4.svg);
            /* padding-right: 180.5px;
        padding-left: 180.5px; */
            padding: 30px 0;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .section5 .result {
            display: block;
            margin-top: 22px;
        }
        
        .section6 {
            padding-top: 45px;
            padding-bottom: 50px;
        }
        
        .section6 h4 {
            color: black;
            text-align: center;
            font-family: Promo, Helvetica, Arial, sans-serif;
            font-size: 25px;
            font-weight: 400;
        }
        
        .section6 h5 {
            color: black;
            text-align: center;
            font-size: 22px;
            margin-top: 20px;
            font-weight: 300;
            margin-bottom: 40px;
        }
        
        .topword {
            color: white;
            overflow: hidden;
        }
        
        .topword p {
            background-color: rgba(65, 99, 118, 0.5);
            width: 100px;
            height: 18px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 11px;
            margin-left: 520px;
            margin-right: 520px;
            /* margin-top: -5px; */
            font-family: Promo, Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 700;
            border-radius: 99px;
        }
        
        .topword h4 {
            font-size: 25px;
            font-family: Promo, Helvetica, Arial, sans-serif;
            font-weight: 400;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .topword h5 {
            width: 600px;
            height: 55px;
            font-size: 22px;
            font-weight: 300;
            font-family: inherit;
            margin-left: 270px;
            margin-right: 270px;
            margin: 0 auto;
            text-align: center;
            font-weight: 320px;
        }
        
        .section5 .selection {
            display: block;
            text-align: center;
        }
        
        .selection ul {
            overflow: hidden;
            font-size: 0px;
            /* position: relative; */
            /* left: 370px; */
            /* margin-top: 40px; */
            display: inline-block;
            padding-right: 0px;
        }
        
        .underresult ul {
            height: 230px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-around;
        }
        
        .underresult li {
            background-repeat: no-repeat;
            background-position: center top;
            border-radius: 5px;
        }
        
        .underresult .daimler {
            background-image: url("https://weatherstack.com/site_images/client_white_daimler.svg");
            background-size: 180px;
            background-color: #263e6a;
            background-position: center;
            width: 250px;
            height: 100px;
        }
        
        .underresult .deloitte {
            background-image: url("https://weatherstack.com/site_images/client_deloitte.svg");
            background-size: 150px;
            background-color: #eef2f5;
            background-position: center;
            width: 250px;
            height: 100px;
        }
        
        .underresult .ericsson {
            background-image: url("https://weatherstack.com/site_images/client_white_ericsson_2.svg");
            background-color: #01275b;
            background-size: 65px;
            background-position: center;
            width: 135px;
            height: 100px;
        }
        
        .underresult .microsoft {
            background-image: url("https://weatherstack.com/site_images/client_microsoft.svg");
            background-size: 180px;
            background-color: #eef2f5;
            background-position: center;
            width: 250px;
            height: 100px;
        }
        
        .underresult .schneider {
            background-image: url("	https://weatherstack.com/site_images/client_white_schneider.svg");
            background-size: 150px;
            background-color: #009e4d;
            background-position: center;
            width: 200px;
            height: 100px;
        }
        
        .underresult .warnerbros {
            background-image: url("https://weatherstack.com/site_images/client_white_warnerbros.svg");
            background-size: 65px;
            background-color: #027ac2;
            background-position: center;
            width: 190px;
            height: 100px;
        }
        
        .underresult .wawa {
            background-image: url("https://weatherstack.com/site_images/client_white_wawa.svg");
            background-color: #ee2e25;
            background-size: 110px;
            background-position: center;
            width: 250px;
            height: 100px;
        }
        
        .underresult .canda {
            background-image: url("https://weatherstack.com/site_images/client_canda.svg");
            background-size: 90px;
            background-color: #eef2f5;
            background-position: center;
            width: 135px;
            height: 100px;
        }
        
        .underresult .mckinsey {
            background-image: url("https://weatherstack.com/site_images/client_mckinsey.svg");
            background-size: 235px;
            background-color: #23477f;
            background-position: center;
            width: 260px;
            height: 100px;
        }
        
        .underresult .rimowa {
            background-image: url("	https://weatherstack.com/site_images/client_rimowa.svg");
            background-size: 150px;
            background-color: #eef2f5;
            background-position: center;
            width: 250px;
            height: 100px;
        }
        
        .selection ul li {
            width: 198px;
            /* height: 27px; */
            float: left;
            /* display: inline-block; */
            margin-top: 40px;
            padding: 16px 10px 18px 10px;
            text-align: center;
            border: 1px 1px 1px 1px;
            background-color: rgba(255, 255, 255, 0.1);
        }
        
        .selection a {
            font-size: 16px;
            color: black;
        }
        
        .selected a {
            color: white;
        }
        
        .selection ul li:first-child {
            /* color: white; */
            background-color: #f47b21;
            border-radius: 5px 0px 0px 5px;
        }
        
        .selection ul li+li {
            background-color: white;
        }
        
        .selection ul li:nth-child(3) {
            border-radius: 0px 5px 5px 0px;
        }
        
        .result {
            width: 656px;
            /* height: 720px; */
            background-color: rgb(23, 36, 43);
            margin: 0 auto;
        }
        
        .botword {
            margin-top: 25px;
        }
        
        .selection .botword ul {
            color: white;
            display: inline-block;
        }
        
        .botword li {
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.1);
            width: 330px;
            height: 102px;
            padding: 18px 20px 15px 20px;
            margin: 15px 5px 15px 0px;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        }
        
        .seletion a {
            color: black;
        }
        
        .ul::after {
            content: "";
            display: block;
            clear: both;
        }
        
        .ul::before {
            content: "";
            display: block;
            clear: both;
        }
        /* .botword ul {
        display: inline-block;
        color: white;
        width: 330px;
        height: 102px;
    } */
        
        .botword span {
            font-size: 18px;
            font-weight: 400;
        }
        
        .botword li:first-child::before {
            content: "\e661";
            font-size: 30px;
            font-family: Linearicons;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .botword li:nth-child(2)::before {
            content: "\e836";
            font-size: 30px;
            font-family: Linearicons;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .botword li:nth-child(3)::before {
            content: "\e7fb";
            font-size: 30px;
            font-family: Linearicons;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .botword li:nth-child(4)::before {
            content: "\e923";
            font-size: 30px;
            font-family: Linearicons;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .botword li:nth-child(5)::before {
            content: "\e668";
            font-size: 30px;
            font-family: Linearicons;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .botword li:last-child::before {
            content: "\e782";
            font-size: 30px;
            font-family: Linearicons;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .botword p {
            font-size: 13px;
            font-weight: 200;
            margin-top: 8px;
            line-height: 20px;
            font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
        }
        
        .section7 {
            background-color: rgb(238, 242, 245);
            padding: 31px 10px 31px 30px;
        }
        
        .section7 .container {
            text-align: center;
        }
        
        .section7 .container span {
            /* padding-right: 30px; */
            font-size: 16px;
            font-family: Promo, Helvetica, Arial, sans-serif;
            font-weight: 500;
        }
        
        .section7 span::after {
            content: "\e944";
            font-family: Linearicons;
            margin-left: 10px;
            font-size: 20px;
            vertical-align: middle;
        }
        
        .section7 .container a {
            vertical-align: middle;
            padding: 17px 15px;
            margin-left: 20px;
            display: inline-block;
            width: 140px;
            height: 17px;
            font-size: 13px;
            background-color: rgb(244, 123, 33);
            border-radius: 3px;
        }
        
        footer {
            background-color: rgb(24, 65, 87);
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .lasttop ul {
            width: 196px;
            height: 190px;
            color: white;
            list-style: none;
        }
        
        footer ul li {
            color: white;
            margin-bottom: 7px;
        }
        
        footer ul a {
            color: white;
            font-weight: 300;
        }
        
        footer .lasttop {
            display: flex;
            flex-wrap: nowrap;
            width: 1140px;
            margin: 0 auto;
            padding-bottom: 50px;
        }
        
        .heading {
            font-weight: 600;
        }
        
        footer .right_side {
            width: 300px;
        }
        /* .lasttop a {
        text-decoration: none;
    } */
        
        footer .social-links {
            display: flex;
            justify-content: space-between;
            width: 200px;
            margin-top: 10px;
        }
        
        footer li:first-child {
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        footer .container .lastbot {
            text-align: center;
        }
        
        .lastbot ul {
            width: 1140px;
            margin: 0 auto;
        }
        
        .lastbot li {
            display: inline-block;
            font-size: 14px;
        }
        
        .lastbot span {
            font-size: 12px;
            font-weight: 400px;
        }
        
        @font-face {
            font-family: Linearicons;
            src: url(./Linearicons.ttf);
        }
        
        @font-face {
            font-family: Freestyle;
            src: url(./FriendlyFont.eot)
        }